html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;

}




.App-logo {
  height: 5vh;
  padding-left: 1.25rem;
  z-index: 2000;
}

.App-header {
  z-index: 1000;
  background-color: #222;
  /* padding: 20px; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
}


.App-title {
  font-size: 3vh;
  margin-bottom: 0;
}




.container {
  height: 95vh;
  position: relative;
}

input {
  font-size: 12px;
}

h1 {
  color: #525454;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}

#map {
  bottom:0px;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0px;
}

.side-menu {
  z-index: 500;
  background: grey;
  border-right: .25vh solid #999;
  /* border-radius: 3px; */
  line-height: 35px;
  padding: 1vh;
  text-align: left;
  /* width: 20vw; */
  width: 250px;
  height: 93vh;
  position: absolute;
  overflow-y: auto;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}



/* filter search text box */
.search-input {
  width: 90%;
  height: 2rem;
  font-size: 1rem;
  padding-left: 10px;
}

.side-list {
  /* background-color: yellow; */
  list-style: none;
  padding-left: 0;
}

.side-item {
  background-color: white;
  padding: .5rem;
  margin-bottom: .25rem;
  max-height: 100px;
  width: 241px;
  max-width: 241px;
  cursor: pointer;
}

.side-item:visited {
  border: 4px yellow solid;
}

.fbinfo {
  height: 100px;
}

@media screen and (max-width:500px) {
  .side-menu {
    /* width: 60vw; */
    /* TODO: WHEN HAMBURGER MENU IS CLICKED, CHANGE FROM -70% TO 0% */
    left: -70%;
  }


}
